body {
  background: #fff;
  color: #000;
  padding: 0px;
  font-family: sans-serif;
  text-align: center;
  line-height: 200%;
  
  
}

ul {
  text-align: left;
  display: block;
}

p {
 text-align: justify;
 float: center;
 padding: 0px 0px 0px 0px;

 letter-spacing: .7px;
  text-indent: 20px;
  margin: 5px 5px 5px 5px;
  word-spacing: 0px;
  white-space: wrap;
  max-width: 80%
}

.main {
  padding: 60px 20px 0px 20px;
  margin: 5px 5px 5px 5px;
  width: 90%;
  z-index: 0;
 
}

.contact {
margin: 5px 5px 5px 5px;
  width: 90%;
  z-index: 0;
  padding: 10px 20px 0px 20px;
}

h1 {
  font-family: Lobster;
  color: #c0392b;
  font-size: 300%;
   background-color: pink;
   width: 95%;
   
}

.topnavigation {
  float: left;
  color: #fff;
  background: grey;
  text-decoration: none;
  position: fixed;
  height: 8%;
 
  text-align: center;
 
  padding: 5px 5px 5px 0px;
  overflow: auto;
  width: 95%;
  z-index: 2;
}

.topnavigation a {
  float: center;
  font-family: monospace;
  color: #f2f2f2;
  text-align: center;
   padding: 5px 10px;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.5px;
 text-transform: uppercase;
}

.topnavigation a:hover {
  background-color: white;
  color: black;
  border: none;
}

.topnavigation a:active {
  background-color: grey;
  color: white;
}

.symbols {
 
}

a.lotus {
  color: white;

}

a.lotus:hover {
  color: pink;
  background-color: grey;
}

a.search {
  color: black ;
}

a.search:hover {
  color: pink;
  background-color: grey;
}

p.tagline {
  font-size: 12px;
  align: right;
  color: grey;
  padding: 0px;
}
