body {
  background: #fff;
  color: #000;
  padding: 0px;
  font-family: sans-serif;
  text-align: center;
  line-height: 200%;
  
}
p {
 text-align: justify;
 float: right;
 padding: 0px 0px 0px 0px;
 line-height: 128%;
 letter-spacing: 2px;
  text-indent: 20px;
  margin: 5px 5px 5px 5px;
  word-spacing: 1px;
  white-space: wrap;
}

.main {
  padding: 60px 20px 0px 20px;
  margin: 5px 5px 5px 5px;
}

h1 {
  font-family: Lobster;
  color: #c0392b;
  font-size: 300%;
   background-color: pink;
   
}

.topnavigation {
  float: left;
  color: #fff;
  background: grey;
  text-decoration: none;
  position: fixed;
  height: 8%;
 
  text-align: center;
 
  padding: 20px 0px;
  overflow: auto;
  width: 95%;

}

.topnavigation a {
  float: center;
  color: #f2f2f2;
  text-align: center;
 
  padding: 0px 14px;
  text-decoration: none;
  font-size: 18px;
}

.topnavigation a:hover {
  background-color: white;
  color: black;
  border: none;
}

.topnavigation a:active {
  background-color: grey;
  color: white;
}

.symbols {
 
}

a.lotus {
  color: white;

}

a.lotus:hover {
  color: pink;
  background-color: grey;
}

a.search {
  color: black ;
}

a.search:hover {
  color: pink;
  background-color: grey;
}

p.tagline {
  font-size: 12px;
  color: grey;
  padding: 0px;
}
